doctype html
html(lang="es", ng-app="app")
	head
		meta(charset="UTF-8")
		title Probando
		link(rel="stylesheet", href="main.css")
	body(ng-controller="controlador as lista")
		#menu
			ul
				li
					a(href="#!") Cajero
				li
					a(href="#!productos") Productos
		div(ng-view)

		script(src="angular.min.js")
		script(src="angular-route.min.js")
		script(src="app.js")